* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  background-image: url("./images/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.header-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-btn button {
  background-color: rgb(19, 76, 235);
  border-radius: 10px;
  height: 50px;
  width: 200px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-left: 30px;
}

.header-btn a.login {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* Hero Content */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-bottom: 50px;
}

.hero-section p {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: white;
}

.hero-btn {
  display: flex;
  gap: 20px;
}

.hero-btn button {
  height: 50px;
  width: 200px;
  padding: 0 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Individual Buttons */
.btn1 {
  background-color: royalblue;
  border-radius: 20px;
  color: white;
}

.btn2 {
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
}

.about-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 243, 240);
}

.about-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.about-card {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 250px;
  gap: 30px;
  width: 450px;
  margin-top: -120px;
  padding-top: 30px;
}

.about-card ion-icon{
  font-size: 50px;
  color: royalblue;
}

.about-card h2{
  font-size: 2rem;
  font-weight: bolder;
}
